.rightSlot[data-v-63a478d9]{width:200px;height:440px!important;margin:2rem auto;overflow:hidden;flex-direction:column;box-shadow:0 14px 28px #00000040,0 10px 10px #00000038}.rightSlot[data-v-63a478d9] li{list-style:none}
